*.png
*.exe
*.jpg
*.pdf
*.doc
*.docx
*.xml
*.tex
Homework/Drafts/RBN to SB-2.nb
Final Project/Drafts/WPGNotesForSummerCamp.nb
Final Project/Drafts/problem_sets/Coumputational_Livestream.nb
Final Project/Drafts/problem_sets/CodingCompetitionInstall.nb
Final Project/Drafts/problem_sets/CodingCompetitionInstall(1).nb