*.png
*.exe
*.jpg
*.pdf
*.doc
*.docx
*.xml
*.tex
Homework/Drafts/RBN to SB-2.nb
Final Project/Drafts/WPGNotesForSummerCamp.nb
Final Project/Drafts/Problem Sets/Coumputational_Livestream.nb
Final Project/Drafts/Problem Sets/CodingCompetitionInstall.nb
Final Project/Drafts/Problem Sets/CodingCompetitionInstall(1).nb